<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="./test-util/bootstrap-tests.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="all-tests">
            <directory>src</directory>
        </testsuite>
        <testsuite name="rest-tests">
            <directory>src</directory>
        </testsuite>
        <testsuite name="auth-tests">
            <directory>src/auth</directory>
        </testsuite>
        <testsuite name="unit-tests">
            <directory>src</directory>
        </testsuite>
    </testsuites>
</phpunit>
